 
* {
    margin: 0;
    padding: 0;
}
:root {
    --green: rgb(134, 239, 134);
  }
  
body{
display: flex;
flex-direction: column;
height: 100vh;
}

#map{
    flex-grow:1;
    width: 100vw;
    position: relative;
    z-index: 10;
}
.nav-bar{
    z-index: 20;
    position: relative;
    display: flex;
    height: 8vh;
    background-color: var(--green);
    justify-content: space-between;
}

.find-btn{
    align-self:center ;
    position: absolute;
    bottom: -100px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
}

.logo{
    width: 90px;
    height: 70px;

}