 
* {
    font-family: 'Space Mono', monospace;
    font-size: 16px;
    font-weight: bold;
    margin: 0;
    padding: 0;
}
:root {
    --green: rgb(134, 239, 134);
    --brown: rgb(132, 80, 32);
    height: 100vh;

  }
  
body{
display: flex;
flex-direction: column;
height: 100vh;
}

#map{
    flex-grow:1;
    width: 100vw;
    position: relative;
    z-index: 10;
}
.nav-bar{
    z-index: 20;
    position: relative;
    display: flex;
    background-color: var(--green);
    justify-content: space-between;
}

.find-btn{
    color: wheat;
    background-color: var(--brown);
    border-radius: 30px;
    padding-inline:3px ;
    width: 270px;
    padding-block: 6px;
    align-self:center ;
    position: absolute;
    bottom: -125px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;
}
.my-location-btn{
    color: wheat;
    background-color: var(--brown);
    border-radius: 30px;
    padding-inline:3px ;
    width: 270px;
    padding-block: 6px;
    align-self:center ;
    position: absolute;
    bottom: -65px;
    right: 50%;
    transform: translateX(50%);
    z-index: 10;

}

.logo{
    width: 90px;
    height: 70px;
}